@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');


@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../vendor/livewire/flux/stubs/**/*.blade.php";
@source "../../resources/views/**/*.blade.php";
@source "../../resources/views/flux/**/*.blade.php";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
/* --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif; */
--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --color-accent: var(--color-emerald-600);
    --color-accent-content: var(--color-emerald-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-emerald-600);
        --color-accent-content: var(--color-emerald-400);
        --color-accent-foreground: var(--color-white);
    }
}

#qr-reader {
    position: relative;
    width: 260px;
    height: 260px;
}

#qr-reader * {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

#qr-reader video,
#qr-reader canvas {
    object-fit: cover !important;
    position: absolute !important;
    inset: 0;
}
